# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

root = true

# every file
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
# 去除行末尾多余的空白
trim_trailing_whitespace = true
